 <!DOCTYPE html>
html
	head
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link rel="shortcut icon" href="images/app-modal-logo.png">
		<script src="js/jquery-3.2.1.min.js"></script>
		<title>Anything For Hire</title>
	body.main1
		header(role="navigation" class="bouncy-car")
			.header-section
				.logo
					img(src="images/hireanything-logo.png" alt="Anything For Hire Logo")
				a.ham-bu(href="#")
					span.ham#ham1
					span.ham#ham2
					span.ham#ham3
				.signBtns
					button.getStartBtn Get Started
					button.signInBtn Sign in
				
			
			.header-cont 
					h1 hire anything. <span class="bold">anywhere.</span>
					.search-boxes
						input(type="search" id="searchBox" placeholder="What do you want to hire?")
						input(type="search" id="pincodeBox" placeholder="pincode")
						button.searchBtn Search
		.frst-section
			h2.pad-bot-40 any service? we've got it covered
			.flex-box-between
				.flex-box-1.embed-responsive.embed-responsive-16by9
					iframe(width="560" height="315" src="https://www.youtube.com/embed/u4pKOp5G7Cg?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
				.flex-box-2
					h3 1. Something something
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.
					h3 2. Something something
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.
					h3 3. Something something
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.
			button.learn-more learn more
		.scnd-section.flex-box-between
				.flex-box-1
					img(src='images/app-modal-logo.png' alt="Logo Anything for Hire" class="app-logo")
					h4 
						span(class="blue-text") Why not try the 
						span(class="orange-text") app?
					p Whether it be a wedding car, bouncy castle or sports equipment, our app has you covered.
					.download-links
						a(href="#" class="app-store app-link")
						a(href="#" class="play-store app-link")
				.flex-box-2
					img(src='images/app-modal-afh.png' alt="Application Anything for Hire" class="app-iphone")
		.bouncy-car
			img(src='images/app-modal-logo-wht.png' alt="Logo Anything for Hire" class="app-logo")
			h2.bouncy-car-cont 
				<span class="whte-text">from</span> <span class="orange-text"> bouncy castle hire </span> <span class="whte-text">to</span> <span class="orange-text">skip hire</span>
			
		.thrd-cont
			h2(class="thrd-sec-head") How we do it
			.third-section
				.in-flex
					.in-flex-one
						.fa.fa-file-text-o
						h4 Proprietary Questionnaire
						p We ask. You answer. With a few minutes of insights into your investment goals, risk appetite and financial history we build a plan that right's for you.
					.in-flex-two
						.fa.fa-server
						h4 Diversified Portfolios
						p A mix of asses classes. A range of geographical areas and currencies. We invest your money in low-cost, liquid, exchange-traded funds(ETFs), building you a portfolio that will maximise your returns over time.
				.in-flex
					.in-flex-one
						.fa.fa-pie-chart
						h4 Clear Strategy
						p Data driven with a human touch. We combine the best of smart technology, investment expertise and hands-on customer support to deliver you streamlined and cost-effective.
					.in-flex-two
						.fa.fa-sliders
						h4 Expert Guidance
						p Skilled rebalancing and monitoring. No trading fees. Our seasoned investment team watches the markets 24/7 so you don't have to, rebalncing your portfolio as necessary to optimise returns and manage risk.
			button.learn-more Learn More
		.frth-cont
			h2 our customers love our platform
			.frth-section
				.flex-box-1
					img(src="images/testi-icon copy.png")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.
					p.custName - Natraj, Infosys
				.flex-box-2.embed-responsive.embed-responsive-16by9
					iframe(width="515" height="315" style="border-radius: 10px" src="https://www.youtube.com/embed/u4pKOp5G7Cg?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
		.foot-bg
			.foot-section
				.flex-box-1
					h4 anything for hire
					ul
						li Home
						li About
						li Contact
						li Blog
				.flex-box-1
					h4 who we are
					ul 
						li The london helicopter launch exclusive kew Gardens Packages
						li Airbnb to sue hometown government over rental regulation
						li Setting up a hire operation:top hints and tips!
				.flex-box-1
					p Tired of travelling the internet? Sick of searching the business 
						| phone book? Fret no more; Anything for Hire does exactly what it says on the tin. If there's a demand for a product, 
						| service or talent. you'll find it listed on our site. From lumousine hire to skip hire, tuxedo hire to clown hire the list  
						| just goes on and on.

			.foot-so-app-links
				.flex-box-1
					a(href="#" class="app-store app-link")
					a(href="#" class="play-store app-link")
				.flex-box-1.social-links
					a(href="#" class="fa fa-facebook-official")
					a(href="#" class="fa fa-twitter")
					a(href="#" class="fa fa-rss")
					a(href="#" class="fa fa-linkedin")
			p.terms-cont Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.